<div class="">
  <h3>▼レビュー</h3>
  <% @reviews.each do |review| %>
    <p>
      <%= image_tag (review.item_image) %></p>
      <%= review.created_at.strftime('%Y/%m/%d') %><br>
      <%= review.item_name %><br>
      <%= review.item_price %>円<br>
      <%= review.body %>
    </p>
    <hr>
  <% end %>
</div>