<h1>Admin::Homes#top</h1>
<p>Find me in app/views/admin/homes/top.html.erb</p>

<% @items.each do |item| %>
  <p>
    <%= image_tag (item['smallImageUrls'][0]) %>
    <%= item.name %><br>
    <%= item.catchcopy %><br>
  </p>
<% end %>

<!--<% @items.each do |item| %>-->
<!--  <p>-->
<!--  <% if item.name.include?("ギフト") || item.catchcopy.include?("ギフト") || item.name.include?("プレゼント") || item.catchcopy.include?("プレゼント") %>-->
<!--    <%= image_tag (item['smallImageUrls'][0]) %>-->
<!--    <%= item.name %><br>-->
<!--    <%= item.catchcopy %><br>-->
<!--  <% end %>-->
<!--  </p>-->
<!--<% end %>-->